* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(168, 218, 220), rgb(69, 123, 257));
    font-family: sans-serif;
    color: rgb(241, 250,238);
}

.location, .temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.degree-section {
    display: flex;
    align-items: center;
}

.degree-section span {
    margin: 10px;
    font-size: 25px;
}

.degree-section h2 {
    font-size: 30px;
    cursor: pointer;
}

.service a:link {
    text-decoration: none;
    color: white;
}

.service a:hover {
    text-decoration: underline;
}

.temperature {
    margin-bottom: 100px;
}

footer {
    margin-top: 50px;
}

.city-search > input {
    outline: none;
    margin-right: 5px;
    font-size: 20px;
}

.city-search > button {
    font-size: 15px;
    padding: 5px;
    border-radius: 12px;
}

.city-search > button:hover {
    cursor: pointer;
}